<footer>
    <div class="bg-light">
        <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="logo-imagen">
                    <img src="/images/ClouthingARG2.png" class="footer-logo">
                    <h2>Clouthing arg</h2>
                    </div>
                </div>        
                <div class="col-12 col-lg-4">
                    <article class="card-footer">
                    <i class="fa-solid fa-shoe-prints"></i>
                    <h2>Zapatillas Precio/Calidad</h2>
                    <p>Compra y vende tu zapatilla al mejor precio en el mercado</p>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article class="card-footer">
                     <i class="fa-solid fa-shield-halved"></i>
                    <h2>Compra con seguridad</h2>
                    <p>Compra y vende tu zapatilla sin inconvenientes ya que tenemos atencion al cliente las 24HS</p>
                    </article>
                </div>
            </div>   
        </div>
    </div>
</div>
</footer>