<header>
    <div class="div-header">
        <a href="/"><img src="/images/ClouthingARG2.png" alt="Logo" class="logo"></a>
        <div class="search">
            <form class="formInputSearch" action="/search" method="POST">
            <input placeholder="Buscar.." type="search" name="search" class="search-bar">
            <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <% if (locals.isLogged){ %>
       <div class="selector-menu">
        <ul class="selectUserOptions">
            <li class="name-menu">
                <i class="fa-solid fa-user"></i><a><%=locals.userLogged.username%></a>
            </li>
            <div class="ocultos">
            <li class="select">
                <i class="fa-solid fa-plus"></i><a href="/create">Crear Producto</a>
            </li>
            <li class="select">
                <i class="fa-solid fa-cart-shopping"></i> <a href="/user/cart">Mi carrito</a>
            </li>
            <li class="select">
                <i class="fa-solid fa-door-open"></i><a href="/user/logout">Cerrar Sesion</a>
            </li>
        </div>
        </ul>
        </li>
       </div>
       <nav class="main-nav">
        <div class="toggle-menu" id="toggle-menu">
        <i class="fa-solid fa-bars"></i>
        </div>
        <ul class="selector-mobile" id="main-menu">
           <li>
            <a href="/create">Crear Producto</a>
           </li>
           <li>
            <a href="/user/cart">Mi carrito</a>
           </li>
           <li>
            <a href="/user/logout">Cerrar Sesion</a>
           </li> 
        </ul>
        </nav>
            <% } else { %>
        <ul class="selector">
            <li class="login">
                <i class="fa-solid fa-user"></i> <a href="/user/login">Iniciar Sesion</a>
            </li>
            <li class="register">
                <i class="fa-solid fa-user-plus"></i> <a href="/user/register">Crear Cuenta</a>
            </li>
        </ul>
        <nav class="main-nav">
        <div class="toggle-menu" id="toggle-menu">
        <i class="fa-solid fa-bars"></i>
        </div>
        <ul class="selector-mobile" id="main-menu">
           <li>
            <a href="/user/login">Iniciar Sesion</a>
           </li>
           <li>
            <a href="/user/register">Crear Cuenta</a>
           </li> 
        </ul>
        </nav>
        <% } %>
    </div>
</header>

<script>
    const toggleMenuElement = document.getElementById("toggle-menu")
    const mainMenuElement = document.getElementById("main-menu")

    toggleMenuElement.addEventListener("click", () =>{
        mainMenuElement.classList.toggle("selector-mobile--show")
    })

</script>