<header>
    <div class="div-header">
        <img src="/images/ClouthingARG2.png" alt="Logo" class="logo">
        <input type="search" class="search-bar">
        <ul class="selector">
            <a href="/create">
                <li>Crear producto</li>
            </a>
            <a href="/edit/1">
                <li>Editar producto</li>
            </a>
            <a href="#">
                <li>Crear Cuenta</li>
            </a>
        </ul>
    </div>
</header>