<head>
    <title>Clouthing Arg</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="icon" href="https://seeklogo.com/images/N/nike-air-jordan-logo-D11F29D729-seeklogo.com.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6d495e19f9.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>