<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <%- include("./partials/header") %>
  <body>
    <% products.forEach(product => {%> 
    <article class="card-product">
      <h3><%=product.name%> </h3>
      <% }) %>
    </article>
  </body>
</html>

