* {
  margin: 0px;
  padding: 0px;
  border: 0;
  box-sizing: border-box;
}
body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html{
  height: 100%;
}

header{
  position: sticky;
  top: 0;
  z-index: 3;
}

body{
  display:flex;
  flex-direction: column;
  min-height: 100%;
}

footer{
  margin-top: auto;
}

a {
  color: #00B7FF;
}
/*       HEADER MAIN         */
.div-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(75, 95, 139);
}

.carrousel{
  position: relative;
}

.register{
  background-color: white;
  border-radius: 10px;
}

.formInputSearch{
  display: flex;
  height: max-content;
}

.login{
  background-color: white;
  margin-right: 30px;
  border-radius: 10px;
}

.search-bar{
  width: 20vw;
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search-bar:focus{
  outline: none;
}

/* Pagina Search */
.search-error img{
  width: 300px;
}

.search-error{
 text-align: center;
 padding: 90px;
}

.search button{
 border-radius: 0px 5px 5px 0px;
}

.logo{
  width: 12vh;
  padding-left: 10px;
}

.buy{
    display:none
}

.fa-solid.fa-bars{
  display: none;
}

.selector{
  display: flex;
  list-style:none;
  padding-right: 10px;
  margin-bottom: 0px;
}

.selectUserOptions{
  margin-bottom: 0px;
}

.main-nav{
  display: none;
}

.selector a{
  text-decoration: none;
  color: black ;
}

.selector li{
  padding: 10px;
}


.card-title{
  font-size: 30px;
}

.card-price{
  color: #00B7FF;
}

.carousel-name {
  color: black;
}

.carousel-description{
  color: black;
}

.slide img{
  height: 50vh;
  width: 100%;
}

.card-img-top{
  height: 28vh;
}

.carousel-indicators button{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  height: 100%;
  position: absolute;
  text-align: center;
  background: 0 0;
}

.link{
  text-decoration:none;
  color: black;
}

.link:hover{
  color: white;
}

.box:hover{
  box-shadow: 0px 0px 20px rgb(161, 69, 69);
}

.box:hover .buy{
  display: block;
}

.title{
  padding-top: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-footer{
  text-align: center;
  margin-top: 20px;
}

.footer{
  background-color:rgb(75, 95, 139);

}

footer i {
  font-size: 5vh;
  color: rgb(202, 16, 16);
}

.footer-logo{
  width: 5vh;
  position: relative;
  top: 24px;
  left: 170px;
}

.title-form{
  margin-top: 40px;
}

.product-detail{
  display: flex;
  width: 100%;
  padding-top: 40px;
}

.product-image{
  width: 40em;
}

.cont{
  width: auto;
  display: flex;
}

.product-info{
  padding-left: 30px;
}

.btn-detail{
  margin-top: 3vh;
}

/* Profile Menu */

.name-menu{
  list-style: none;
  margin-right: 30px;
  font-size: 20px;
  background-color: white;
  border-radius: 7px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ocultos{
  position: absolute;
  display: none;
  list-style: none;
  z-index: 3;
  font-size: 20px;
  background-color: white;
  width: 188px;
  text-align: center;
  border-radius: 7px;
  padding-bottom: 10px;
}

.selector-menu:hover .ocultos{
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}

.ocultos li a{
  text-decoration: none;
  color: black;
}

.selector-menu{
  width: 250px;
  text-align:center ;
}

.name-menu i{
  padding-right: 5px;
}

.ocultos i{
    padding-right: 5px;
}

.ocultos li{
  padding-top: 10px;
}

/* Register eye */
.password{
  display: flex;
}

.eye{
  position: absolute;
  right: 25px;
  margin-top: 10px;
  color: gray;
}

/*Carrito */
.nombre-precio{

display: flex;
justify-content: space-between;
}

.titulo-carrito{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 746px){
.carrousel{
  display: none;
}

.products-index{
  display: flex;
  justify-content: center;
}

.title{
  text-align: center; 
}

.card-footer{
  display: none;
}

.logo-imagen{
  text-align: center;
}

.selector{
  display: none;
}

.fa-solid.fa-bars{
  display: block;
  margin-right: 30px;
  font-size: 30px;
  cursor: pointer;
}

.selector-mobile{
  position: fixed;
  top: 100px;
  width: 100%;
  height: 100vh;
  text-align: center;
  transition:all .5s;
  background: rgba(0,0,0,0.95);
  transform: translateY(-200%);
  left: 0%;
  display: block;
}

.search{
  width: 100%;
}

.search-bar{
width: 60%;
align-items: center;
}

.selector-mobile--show{
  transform: translateY(0%);
}

.selector-mobile li{
  display: block;
  line-height: 30px;
  margin: 50px 0;
  transition: all .5s;
}

.selector-mobile a{
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.main-nav{
  display: block;
}

.selector-menu{
  display: none;
}

.logo{
  margin-right: 3vh;
}
}


@media (max-width: 1024px){
  .product-detail{
    flex-direction: column;
  }

  .product-image{
    width: 100%;
    height: 370px;
    object-fit: cover;
  }
  
  .product-detail{
    padding-bottom: 40px;
  }
  
  .product-info{
    padding-left: 0px;
  }
}