* {
  margin: 0px;
  padding: 0px;
  border: 0;
  box-sizing: border-box;
}
body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html{
  height: 100%;
}

body{
  display:flex;
  flex-direction: column;
  min-height: 100%;
}

footer{
  margin-top: auto;
}

a {
  color: #00B7FF;
}
/*       HEADER MAIN         */
.div-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(75, 95, 139)
}

.search-bar{
  display: flex;
}

.logo{
  width: 12vh;
  padding-left: 10px;
}

.buy{
    display:none
}

.selector{
  display: flex;
  list-style:none;
  padding-right: 10px;
}

.selector a{
  text-decoration: none;
  color: black ;
}

.selector li{
  padding: 10px;
}

.search-bar{
  width: 33vh;
}

.card-title{
  font-size: 30px;
}

.card-price{
  color: #00B7FF;
}

.carousel-name {
  color: black;
}

.carousel-description{
  color: black;
}

.slide{
  margin-top: 1px;
}

.slide img{
  height: 80vh;
  width: 100%;
}

.card-img-top{
  height: 28vh;
}

.link{
  text-decoration:none;
  color: black;
}

.link:hover{
  color: white;
}

.box:hover{
  box-shadow: 0px 0px 20px rgb(161, 69, 69);
}

.box:hover .buy{
  display: block;
}

.title{
  padding-top: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-footer{
  text-align: center;
  margin-top: 20px;
}

.footer{
  background-color:rgb(75, 95, 139);

}

footer i {
  font-size: 5vh;
  color: rgb(202, 16, 16);
}

.footer-logo{
  width: 5vh;
  position: relative;
  top: 24px;
  left: 170px;
}

.title-form{
  margin-top: 40px;
}

.product-detail{
  display: flex;
  width: 100%;
  padding-top: 40px;
}

.product-image{
  width: 40em;
}

.cont{
  width: auto;
  display: flex;
}

.product-info{
  padding-left: 30px;
}

.btn-detail{
  margin-top: 3vh;
}





/* footer */



